/*------------------------------------------------------------------
[Table of Contents]

1. Universal
2. Header
3. Home: Hero
4. Home: User List
5. Home: Quote Section
6. Accessibility
7. Post and Pages
8. Comments
9. WordPress Defaults
10. Events Calendar
11. Donation Form
12. Footer
13. WooCommerce
14. Media Queries 

-------------------------------------------------------------------*/

@font-face{
    font-family:FontAwesome;
    src:url('../css/fonts/fontawesome-webfont.eot?#iefix') format('eot'),
	url('../css/fonts/fontawesome-webfont.woff') format('woff'),
	url('../css/fonts/fontawesome-webfont.ttf') format('truetype'),
	url('../css/fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
}
body {
	background-color: #f1f3f3;
}
body, h1, h2, h3, h4, h5, h6, p, a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
}
h1, h2, h3, h4, h5, h6, {
	color: #43515c;
}
p { font-size: 1.1rem; }
a {
    line-height: inherit;
    text-decoration: none;
    color: #8ea7bd;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}
ul {
	list-style: none;
	margin-left: 0;
}
hr { border-color: #efefef; }
.vcard {
    border: none;
    display: inline-block;
    margin: 0 0;
    padding: 0 0;
}
.round {
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px; 
}
.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade:hover {
      opacity: 0.8;
      }

/*--- Alignments ---*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*----------------------------------------------------*/
/*	2. Header
/*----------------------------------------------------*/


.site-header {
    border-bottom: 4px solid #9e1e0a;
}

/* Pace Loading  */
.pace .pace-progress {
  background: #ffffff;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}


/*--- 2. Top Mini Nav ---*/
.mini_nav_wrap {
    background-color: #7fb397;
    height: 45px;
}
.mini_nav {
	margin-top: 1.25em;
}
.mini_nav ul { 
	list-style-type: none;
	float: right;
}
.mini_nav ul li {
	float: left;
	margin-left: 1em;
}
.mini_nav .menu-top-header-container ul li a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 12px;
	padding: 0 5px;
}
.mini_nav i {
	color: #ffffff;
}
.mini_nav .menu-top-header-container ul li a:hover, .mini_nav .menu-top-header-container ul li a:focus, .bottom_nav_wrap .top-bar-section ul li a:hover, .bottom_nav_wrap .top-bar-section ul li a:focus {
    background-color: #ffffff;
    color: #599a76;
}
.mini_nav ul.cart_search li {
	color: #ffffff;
	margin-left: 1em;
	font-size: 16px;
}
.mini_nav ul.cart_search li a {
	font-size: 16px;
}
.mini_nav ul.cart_search a:hover, .mini_nav ul.cart_search a:focus {
	border-bottom: none;
}
.mini_nav ul.cart_search li.search {
	margin-left: 0;
}
.mini_nav i.fa-search {
	margin-left: 20px;
}
.mini_nav #search_drop {
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
}
.mini_nav #search_drop li:hover {
	background-color: #ffffff
}
.mini_nav #search_drop li {
	margin-left: 0;
	width: 100%;
}
.mini_nav #search_drop input[type="search"] {
	float: left;
	height: 40px;
	margin-bottom: 0;
	padding: 5px 5px 5px 20px;
	font-style: italic;
	color: #7e8a94;
	box-shadow: none;
	border: 1px solid #efefef;
}
.mini_nav #search_drop input[type="submit"] {
	float:right;
	display: none;
}

/*--- Mini Nav Dropdown ---*/
.mini_nav .menu-top-header-container ul li {display:inline;}
.mini_nav .menu-top-header-container ul li ul {position:absolute;width:110px;margin-left: 0;z-index:90; }
.mini_nav .menu-top-header-container ul li ul li {min-width:110px;margin-left: 0;}
.mini_nav .menu-top-header-container ul li ul li a {display:block;line-height: 2.25;padding: 0.25em 1em 0.5em;}
.mini_nav .menu-top-header-container ul li ul li a, .mini_nav .menu-top-header-container ul li ul li a:hover, .mini_nav .menu-top-header-container ul li ul li a:focus {background: rgba(255,255,255,0.2)!important;}
.mini_nav .menu-top-header-container ul li ul li a:hover, .mini_nav .menu-top-header-container ul li ul li a:focus {color: #e2e2e2;}
.mini_nav .menu-top-header-container ul li ul.sub-menu {display:none;}
.mini_nav .menu-top-header-container ul li:hover ul.sub-menu {display:block;}

.mini_nav .menu-top-header-container ul li.menu-item-has-children:hover a {
    background-color: #ffffff;
    color: #599a76;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
}
.mini_nav .menu-top-header-container ul li ul li a {
    color: #ffffff!important;	
    -webkit-border-radius: 0px!important; 
    -moz-border-radius: 0px!important; 
    border-radius: 0px!important; 
}
.mini_nav .menu-top-header-container ul li ul li a:hover, .mini_nav .menu-top-header-container ul li ul li a:focus {
	background: rgba(255,255,255,0.2)!important;
    -webkit-border-radius: 0px!important; 
    -moz-border-radius: 0px!important; 
    border-radius: 0px!important; 
}

/*--- 3. Top Main Nav ---*/
.bottom_nav_wrap {padding: 20px 0;}
.bottom_nav_wrap .top-bar-section a {line-height: 40px;}
.bottom_nav_wrap .top-bar-section ul li {background: none; margin-top: 1px}
.bottom_nav_wrap .top-bar-section ul li a {text-transform: uppercase;}
.bottom_nav_wrap .top-bar-section ul li a:hover, .bottom_nav_wrap .top-bar-section li a:focus {
    background-color: #ffffff;
    color: #599a76;
}
.bottom_nav_wrap .top-bar-section li.active:not(.has-form) a:hover:not(.button) {
    background-color: #ffffff;
    color: #599a76;
}
.bottom_nav_wrap .top-bar-section ul li:hover:not(.has-form) > a {
    background-color: #ffffff;
    color: #599a76;
}
.bottom_nav_wrap .top-bar-section ul li.has-dropdown:hover:not(.has-form) > a {
    background-color: #ffffff;
    color: #599a76;
}
.bottom_nav_wrap .top-bar-section li.menu-item-has-children:not(.has-form) a:hover:not(.button) {
    -webkit-border-radius: 3px 3px 0px 0px;
}
.bottom_nav_wrap .top-bar-section ul.dropdown li:not(.has-form) a:hover:not(.button) {
	background: rgba(255,255,255,0.2)!important;
	color: #ffffff;
}
.bottom_nav_wrap .top-bar-section li.active:not(.has-form) a.menu-item-has-children:hover:not(.button) {
    background-color: #ffffff;
    color: #599a76;
}

.default_button_class {
	float:right;
	color:#fff;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	border: 2px solid #ffffff;
	padding: 8px 40px;
	line-height: 20px;
	margin: 1px 0 0 25px;
}
.default_button_class  {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}
.lastIndexButton {
    border: 2px solid #8c8c8c;
    background-color: rgba(255, 255, 255, 0);
    color: #8c8c8c!important;
    margin: 0 auto;
    float: none;
    display: table;
    position: relative;
    margin-bottom: 20px;
}

.lastIndexButton:hover {
    border: 2px solid #d0111a;
    background-color: #d0111a;
    color: #fff !important;
}

a:hover .default_button_class, .hero_more_wrap a:hover {
    background-color: #ffffff;
    color: #599a76;
}

/*--- Sticky Nav ---*/
.bottom_nav_wrap .fixed {
    border-bottom: 4px solid #9e1e0a;
    animation-duration: 0.8s;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-name: fadeIn;
    -moz-animation-duration: 0.8s;
    -moz-animation-name: fadeIn;
}
.fixed ul.title-area img {
    height: 70px;
    margin-top: 28px;
	margin-left: 2rem;
}

.fixed .top-bar {
    margin-top: 10px;
}

/*--- Hamburger Nav Icon ---*/
.top-bar .toggle-topbar.menu-icon a:after {
    box-shadow: 0 10px 0 1px #FFFFFF, 0 16px 0 1px #FFFFFF, 0 22px 0 1px #FFFFFF;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
.fixed .top-bar .toggle-topbar.menu-icon a:after {
	margin-right: 2em;
}
.top-bar .toggle-topbar.menu-icon a {
    color: #FFFFFF;
    height: 34px;
    line-height: 33px;
    padding: 0 25px 0 0;
    position: relative;
}

/*--- Logo ---*/
ul.title-area h3.site-title a {
	color: #fff;
	font-size: 26px;
	font-weight: 600;
	font-style: italic;
}
ul.title-area img {
	margin-top: 3px;
	-moz-backface-visibility: hidden; /* fixes FF jumpy bug */
}
#masthead .site-branding {
	margin: 0 auto;
	display: table;
	text-align: center;
}

/*----------------------------------------------------*/
/*	3. Home: Hero
/*----------------------------------------------------*/
.hero_cta_wrap {
	position: relative;
}
.hero_cta_wrap .bg-image {
	height: 1000px;
	width: 100%; 
}
.hero_cta_wrap .bg-image-hero {
	/* img in dynamic.css.php */
	-ms-background-position-x: center;
	-ms-background-position-y: bottom;
	background-position: center bottom;
	/* scale bg image proportionately */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 600px;
    /* ie8 polyfill */
	-ms-behavior: url(backgroundsize.min.htc);
	/* prevent scaling past src width (or not) */
	/* max-width: 1200px; */
}
.hero_overlay, .no_hero_overlay {
	overflow: hidden;
	height: 100%;
	position: relative;
	z-index: 30;
}
.hero_content {
	text-align: center;
	position: absolute;
	top: -685px;
	z-index: 50;
}
.bg-image-hero h1, .bg-image-hero h2, .bg-image-hero h3, .bg-image-hero h4, .bg-image-hero h5, .bg-image-hero h6, .bg-image-hero p {
	color: #ffffff;
}
.hero_content p {
    font-size: 40px;
    line-height: 55px;
    margin: 2em 8em 1em 8em;
}
.bg-image .hero_content p {
    margin: 1em 0em 0em 0em;
}
.hero_icons div.wow{
	float:left;
}
.hero_content .hero_icons  {
	color: #fcfa43;
	margin: 0 auto;
	display: table;
	margin-top: 8em;
}
.hero_content .hero_icons i  {
	font-size: 64px;
	padding: 0 5px;
}
.hero_content .hero_icons i.fa-lightbulb-o {
	font-size: 68px;
}
.hero_content .hero_icons i.fa-plus {
	font-size: 34px;
	padding-top: 20px;
}
.hero_content .hero_icons span.equals {
	font-size: 48px;
	margin-right: 10px;
}
.hero_more_wrap {
/*	margin: 0 auto;
	display: table;*/
}
.askPopUp {
    margin-top: 10px!important;
    margin-right: 0!important;
    margin-bottom: 10px!important;
}
.button_ask_duk {
    background-color: #bf2a13;
    margin-top: -30px;
    margin-right: 40%;
    width: 220px!important;
    text-align: center;
}
.signLeftButton{
    display: inline-block;
}
.signRightButton{
    display: inline-block;
}
.signButton {
    border: 2px solid #8c8c8c;
    background-color: rgba(255, 255, 255, 0);
    color: #8c8c8c!important;
    margin: 0 auto;
    float: none;
    display: table;
    position: relative;
    margin-bottom: 20px;
}
.signButton:hover {
    border: 2px solid #d0111a;
    background-color: #d0111a;
    color: #fff !important;
}
.signButton:focus {
    border: 2px solid #d0111a;
    background-color: #d0111a;
    color: #fff !important;
}
@media screen and (min-width: 800px) and (max-width:1200px) {
    .button_ask_duk {
        margin-right: 38%;
    }
}
@media screen and (min-width: 600px) and (max-width:800px) {
    .button_ask_duk {
        margin-right: 31%;
    }
}
@media screen and (min-width: 450px) and (max-width:600px) {
    .button_ask_duk {
        margin-right: 22%;
    }
}
@media screen and (max-width:450px) {
    .button_ask_duk {
        margin-right: 15%;
    }
}
.button_ask_duk:hover {
    background-color: #a32513;
    color: #fff;
}
.button_ask_duk:focus {
    background-color: #a32513;
    color: #fff;
}
a.hero_more {
	margin: 0 auto;
    float: none;
	display: table;
    position: relative;
	bottom: 15em;
	z-index: 60;
    background-color: rgba(255, 255, 255, 0);
}
a.hero_more:hover {
	background-color: #ffffff;
}
.hero_vid_wrap {
	display: block;
}
.hero_vid_wrap .notice {
	min-height: 900px;
	text-align: center;
}
.hero_vid_wrap 
.vid_content_wrap {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.vid_content_wrap .hero_content {
/*	background-color: gray;*/
	position: relative;
}

/*--- Home Content ---*/
.has-tip {cursor: pointer;}
.home_content_wrap .row {
	margin-top: 5em;
    max-height: 260px;
}
.home_content{
    margin-top: -20px;
}
@media only screen and (max-width: 900px) {
    .home_content_wrap .row {
        margin-top: 5em;
        max-height: 285px;
    }
    .home_content {
    margin-top: -40px;
    }
}
@media only screen and (max-width: 724px) {
    .home_content {
        margin-top: -65px;
    }
}

@media only screen and (max-width: 560px) {
    .home_content_wrap .row {
        max-height: 400px;
    }
}
@media only screen and (max-width: 495px) {
    .home_content {
        margin-top: -65px;
    }
}
@media only screen and (max-width: 421px) {
    .home_content_wrap .row {
        max-height: 525px;
    }
}
@media only screen and (max-width: 380px) {
    .home_content_wrap .row {
        max-height: 585px;
    }
}
@media only screen and (max-width: 44.063em) {
    .bottom_nav_wrap .top-bar-section a {
        line-height: 12px;
    }
}
.home_content_wrap .row h2 {
	text-align: center;
    color: #575a5f;
}

.home_content_wrap .row p {
    color: #575a5f;
}
.home_content_wrap .row a {
    color: #575a5f;
}
.contributor_list_wrap .columns .large-2 {
    padding-left: 17%;
    margin-right: 15px;
}

.mouseImg {
    margin: 0 auto;
    float: none;
    display: table;
    position: relative;
    bottom: 11em;
    z-index: 60;
    text-align: center;
}
.mouseImg a {
    color: #fff;
}

.mouseImg a:hover {
    color: #fff;
}

.mouseImg img {
    margin-bottom: 10px;
}
.buttonImg {
    margin-right: 18px;
    margin-left: -17px;
    margin-top: -3px;
}
.buttonImg {
    margin-right: 18px;
    margin-left: -17px;
    margin-top: -3px;
}

/*----------------------------------------------------*/
/*	4. Home: User List
/*----------------------------------------------------*/
.contributor_list_wrap {
	background-color: #ffffff;
	margin-top: 8em;
}
.frontRegisterText{
    position: relative;
    bottom: 12.5em;
    z-index: 70;
}

@media only screen and (max-width: 1305px) {
    .indexRow {
        margin-top: -40px;
    }
    .frontRegisterText {
        bottom: 14em;
    }
}

.investmentValue {
    font-weight: 500;
}
.investmentValueSlash {
    color: #235f42;
}
div.transbox {
    width: 88%;
    height: 105px;
    margin: 30px 50px;
    background-color: #ffffff;
    top: -490px;
    position: absolute;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    z-index: 50;
}
div.transboxInvestment {
    top: -384px;
    height: 70px;

    background-color: #C4E2D4;
    background-image: url("../img/shadow.png");
    background-repeat: no-repeat;

}
.allInvestmentBox {
    color: #fff;
    margin-top: 50px;
    font-size: 21px;
}
.toRegisterButton{
    float: right;
    padding-right: 130px;
    margin-top: -42px;
}
.indexCalculateButton{
    background: none;
}
.indexCalculateButton:hover{
    background: #fff;
    color: #bf2a13;
}
@media only screen and (max-width: 1040px) {
    .toRegisterButton{
        display: none!important;
    }
}
@media only screen and (max-width: 495px) {
    .frontRegisterText p{
        font-size: 17px!important;
    }
}
.frontRegisterText p{
    font-size: 25px;
}

.investTable {
    float: left;
    margin-top: 6px;
    font-size: 20px;
    margin-left: 4%;
    color: #fff;
}
@media only screen and (max-width: 900px) {
    .investTableLogin {
        margin-left: 2%!important;
    }
}
.investTableLogin {
    margin-left: 16%;
}
.calcResults{
    float: left;
    margin-top: -30px;
    color: #fff;
}
.iGetBackDiv{
    margin-top: -20px;
}
.iGetBackDiv,
.quarterPaydRight{
    color: #fff;
    font-weight: 600;
    margin-right: 35px;
    min-width: 20%;
    text-align: left;
}
.calcCurrency,
.iWillGet,
.iGetBack,
.quarterPayd{
    color: #235f42;
    font-size: 15px;
}
.iWillGet {
    margin-left: 3px;
}
.investCalculator {
    margin-top: 80px;
}
.calcTable {
    text-align: left;
    margin-top: -35px;
    color: #fff;
    font-size: 20px;

}
@media only screen and (max-width: 730px) {
    div.transbox {
    display: none;
    }

    .investCalculator {
    display: none;
    }
    .frontRegisterText {
        bottom: 18em;
    }
}

@media only screen and (max-width: 730px) {
    .mouseImg {
        bottom: 14em;
    }

    a.hero_more {
        bottom: 19em!IMPORTANT;
    }
}

@media only screen and (max-width: 1025px) {
    .investCalculator {
        margin-top: 102px;
    }
}
.calculateInput {
    margin-left: 10px!important;
    width: 22%!important;
    display: inline-block!important;
    margin-right: -6px!important;
}
.calculateCurency {
    width: 65px!important;
    display: inline-block!important;
    padding-bottom: 7px!important;
    background-color: #fff!important;
    background: transparent url("../img/selectArrow.png") no-repeat 30px center;
    -webkit-appearance: none;
}
.contributor_list_wrap .row {
	margin-top: 4em;
	margin-bottom: 4em;
}
.contributor_list_wrap h2 {
	margin-bottom: 1.5em;
}
.contributor_list .avatar, #forum_slider img.avatar {
/*	width: 100px;
	height: 100px;*/
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
.contributor_list ul { list-style-type: none; }
.contributor_list ul { text-align: center; }
.contributor_list ul li { display: inline-block; padding: 0 .2em .2em .2em; }
.contributor_list ul li .has-tip {
	border-bottom: none;
}
.contributor_list img {
    filter: url(../inc/filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
.contributor_list img:hover { 
    filter: none;
    -webkit-filter: grayscale(0);
}
.contributor_list_wrap a.button, .home_shop_wrap a.button {
	margin: 0 auto;
	display: table;
	margin-top: 4.5em;
    background-color: #ffffff;
    border-color: #8c8c8c;
    border-width: 2px;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: .75rem 2rem;
}
.contributor_list_wrap a.button:hover, .contributor_list_wrap a.button:focus, .home_shop_wrap a.button:hover, .home_shop_wrap a.button:focus {
    background-color: #599A76;
    border-color: #599A76;
    color: #ffffff;
}
.forum_posts_wrap .row {
	margin-top: 4em;
	margin-bottom: .5em;
}
.forum_posts_wrap h5 {
	text-transform: uppercase;
	color: #565a5f;
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
}
#forum_slider img.avatar {
	float: left;
	margin: 0 1em 2em 5em;
}
.forum_posts_wrap .large-2 {
	border-right: 1px solid #dddddd;
}
#forum_slider .custom_excerpt {
	color: #cccccc;
}
#forum_slider p {
	color: #3b474d;
	font-size: 16px;
    margin-bottom: 0.2rem;
    margin-top: 0.1rem;
}
#forum_slider .forum_slider_meta, #forum_slider .forum_slider_meta a {
	font-size: 12px;
	color: #cbcbcb;	
}
#forum_slider .forum_slider_meta a:hover {
	color: #565A5F;
}

/*----------------------------------------------------*/
/*	5. Home: Quote Section
/*----------------------------------------------------*/
.quote_area_wrap {
	background-color: #3c90bf;
}
.quote_area_wrap .row {
	margin-top: 1em;
}
.quote_area_wrap .bg-image {
	height: 560px;
	width: 100%; 
}
.quote_area_wrap .bg-image-hero {
	/* img in dynamic.css.php */
	-ms-background-position-x: center;
	-ms-background-position-y: bottom;
	background-position: center bottom;
	/* scale bg image proportionately */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	/* ie8 polyfill */
	-ms-behavior: url(backgroundsize.min.htc);
	/* prevent scaling past src width (or not) */
	/* max-width: 1200px; */ 
}
.quote_area_wrap .hero_overlay {
	overflow: hidden;
	height: 100%;
	position: relative;
	z-index: 70;
}
.quote_area_wrap .hero_content {
	text-align: center;
	position: absolute;
	z-index: 80;
}
.quote_area_wrap blockquote {
	border-left: none;
}
.quote_area_wrap blockquote p {
	font-size: 48px;
}
.quote_area_wrap cite {
	font-size: 24px;
}


/*----------------------------------------------------*/
/*	6. Accessibility
/*----------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*----------------------------------------------------*/
/*	7. Posts and Pages
/*----------------------------------------------------*/

.noBorder {
    border: none;
    line-height: 24px;
}
iframe.twitter-tweet {
	margin: 0 auto!important;
}
.sticky header {
    background-color: #fffde8;
}
.sticky .entry-meta {
	border-top: 1px solid #efefef;
	background-color: #ffffff!important;
}
.hentry {
	margin: 0 0 0;
}
.byline,
.updated {
	display: none;
}
.single .byline, .blog .byline, 
.group-blog .byline, .search .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 3em 0 0 0;
}
.content_row {
	margin-top: 3rem;
	margin-bottom: 5rem;
	min-height: 50%;
}
.blog .content_row {
	margin-top: 2rem;
}
.content_row .content-area #main {
	padding: 2rem;
    margin-bottom: 7px;
}
.content_row .content-area .post_wrap, .archive .page_title_wrap, .error404 .content_row .content-area #main {
	background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
 	 -moz-box-shadow:    0 1px 3px rgba(0, 0, 0, 0.15);
 	 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.content_row .content-area #main {
	padding-bottom: 1rem;
}
.content_row .content-area .featured_image {
	margin-bottom: 1.5rem;
}
.content_row .content-area header.entry-header h1 {
	font-size: 1.75rem;
	color: #556a7d;
}
.entry-header h1 a {
    line-height: inherit;
    text-decoration: none;
	color: #43515c;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

/*--- Pagination ---*/
.pagination-centered {
	background-color: #ffffff;
	margin-top: 4rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
 	 -moz-box-shadow:    0 1px 3px rgba(0, 0, 0, 0.15);
 	 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
ul.pagination {
    min-height: 2.5rem;
    padding-top: 0.4rem;
}
ul.pagination .active a {
	background-color: #e6e6e6;
}

/*--- 404, Archive, Full ---*/
.archive .page_title_wrap {
	margin: 3rem 0;
	text-align: center;
}
.error404 .content_row .content-area #main {
	padding: 2em 2em 3em 2em;
}
.error404 .content-area h1, .search .content-area h1, .entry-title h1  {
	margin-bottom: .75em;
}
.error404 .content-area input {
	margin-bottom: 5rem;
}
.archive .content-area header.page-header h1 {
	border-bottom: 1px solid #f1f3f3;
	padding: .75rem 2rem;
	color: #8f9399;
	font-size: 1.15rem;
	font-weight: 600;
}
.error404 .content-area input, .search .page-content input, .archive .page-content input {
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
    color: #7e8a94;
    width: 100%;
    padding: 0.5rem 0.9rem;
    vertical-align: baseline;
    box-shadow: none;
    height: 3.3125rem;
    font-style: italic;
    text-align: center;
}
.widget_search input {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
 	 -moz-box-shadow:    0 1px 3px rgba(0, 0, 0, 0.15);
 	 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.error404 .content-area input.search-submit, .search .page-content input.search-submit, .archive .page-content input.search-submit, .widget_search input.search-submit {
	display: none;
}
.error404 .content-area p {
	margin-bottom: 1.5rem;
	text-align: center;
}
.page-template-template-full-php header.entry-header h1 {
	text-align: center;
}
.search-no-results .post_wrap form input.search-submit {
	border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: .87rem;
    margin: 0 0 1.25rem;
    padding: .5rem 2rem .5625rem;
    position: relative;
    text-align: center;
    text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    transition: background-color 300ms ease-out 0s;
}
.search-no-results .post_wrap form input.search-submit:hover {
	background-color: #666666;
}

/*-- Single --*/
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
	margin: 0 0 3%;
}
.entry-content hr {
	margin: 2em 0;
}
.entry-content blockquote {
	border-left: 8px solid #cccccc;
}
.entry-content ul {
    list-style-type: square;
    margin: 0 0;
    padding: 0 0 0 3%;
}
.entry-content ul li {
	padding: .3em 0;
}
.entry-content pre {
    background: none repeat scroll 0 0 #f7f7f7;
    font-family: "Courier 10 Pitch",Courier,monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 3% 10% 3% 5%;
    position: relative;
}
.entry-content table {
	width: 100%;
	padding: 1% 3%;
}
.entry-content table th {
    color: #444444;
    font-weight: 600;
    padding: 1.25em 12px;
}
.entry-content table tr td {
    padding: 1.25em 12px;
}
.entry-content table tr.odd {
    background-color: #f9f9f9;
}
.entry-content table tr.even {
    background-color: #ffffff;
}
.pull-r {
    float: right;
}
.pull-r {
    float: right;
    margin: 1% 0 3% 3%;
    padding: 2% 0 0 2%;
    text-align: right;
}
.pull-l {
    float: left;
}
.pull-l {
    float: left;
    margin: 1% 5% 3% 0;
    text-align: left;
}
.pull-r, .pull-l {
    font-weight: 600;
    width: 30%;
}

.featured_image_wrap a:hover {
	opacity: .6;
}
.blog .post_wrap, .archive .post_wrap, .search .post_wrap {
	margin-bottom: 2rem;
}
.content_row .content-area #main {
	padding: 0rem;
}
.content_row .content-area article {
	padding: 1rem 2rem;
}
.content_row .content-area header {
	padding: 2rem;	
}
.content-area header {
	text-align: center;
}
.content-area .entry-meta {
	font-size: 12px;
	color: #999999;
} 
.content-area .entry-meta a {
	color: #999999;
}
.content-area .vcard a {
	font-size: 12px;
	font-weight: normal;
} 
.reveal-modal {
	text-align: center;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}
.reveal-modal a {
    font-size: 36px;
    padding: 0 0.25rem;
}
.reveal-modal span {
	position: relative;
	bottom: .4rem;
	padding-right: .95rem;
	font-size: 12px;
}
.shareModal_wrap a.share_click {
    float: right;
    padding: 0.25rem;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
}
.shareModal_wrap a.share_click i {
	font-size: 20px;
	color: #ffffff;
}
.reveal-modal a.twitter  {
	color: #56A3D9;
}
.reveal-modal a.facebook  {
	color: #4F69A2;
}
.reveal-modal a.google  {
	color: #E05D4D;
}
.reveal-modal a.pinterest  {
	color: #CB211D;
}
.reveal-modal a.email_share  {
	color: #F86811;
}
.entry-footer ul {
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
}
.entry-footer ul li {
	display: inline-block;
	float: left;
    padding-bottom: 0.35rem;
    padding-right: 0.35rem;
}
.content-area .entry-meta {
	background-color: #f1f3f3;
	padding: 1.25em .75em;
	width: 100%;
	text-align: center;
}
.entry-footer {
	padding: 0 2rem;
/*	margin-bottom: 4rem;*/
}
.entry-footer a {
	padding: .25rem .5rem;
	color: #ffffff;
	font-size: 14px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
}
.searchForum{
    background-color: #bf2a13;
    border: 2px solid #fff;
    color: #fff;
    padding: 8px 40px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20px;
    width: 100%;
}
.searchForum:hover{
    border: 2px solid #bf2a13;
    background-color: #fff;
    color: #bf2a13!important;
}
.mySearchForm{
    text-align: center;
    margin-top: 10px;
}
.entry-footer ul.post_tags li {
	opacity: .6;
}
.entry-footer ul.post_tags li:hover {
	background-color: #ffffff;
}
.entry-footer a:hover, .blog a.more-link:hover {
    background-color: #ffffff;
}
.entry-footer .edit-link a {
	background-color: #cccccc;
	float: right;
}
.content-area nav {
	padding: 0 2rem;
}
.content-area .post-navigation .nav-links {
    margin-bottom: 1.5rem;
    margin-top: 0.75rem;
}
.content-area .post-navigation .nav-links a {
	color: #cccccc ;
}
.content-area .post-navigation .nav-links .nav_prev_link, .content-area .post-navigation .nav-links .nav_next_link {
    bottom: 0.75rem;
    position: relative;
}
.content-area .meta-nav-prev { width: 15%; }
.content-area .meta-nav-next i { width: 15%; }
.content-area .post-navigation .nav-links .nav_prev_link {
    float: right;
    position: relative;
    top: -2.3rem;
    width: 85%;
}
.content-area .post-navigation .nav-links .nav_next_link {
    float: left;
    position: relative;
    top: 1.8rem;
    width: 85%;
}
.content-area .post-navigation .nav-previous, .content-area .post-navigation .nav-next, .content-area .meta-nav, .content-area .nav_prev_link {
	width: 50%;
}
.content-area .post-navigation .nav-previous {
	float:left;
	text-align: left;
}
.content-area .post-navigation .nav-next {
	float:right;
	text-align: right;
}
.content-area .post-navigation i {
	font-size: 4rem;
}
.content-area .post-navigation .nav-links .nav-previous a i, .content-area .post-navigation .nav-links .nav-next a i  {
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.content-area .post-navigation .nav-links .nav-previous a i { right: 0; }
.content-area .post-navigation .nav-links .nav-next a i { left: 0; }
.content-area .post-navigation .nav-links .nav-previous a:hover i { right: .25rem; }
.content-area .post-navigation .nav-links .nav-next a:hover i { left: .25rem; }

.blog_header_wrap .bg-image {
	height: 400px;
	width: 100%; 
}
.blog_header_wrap .bg-image-hero {
	/* img in dynamic.css.php */
	-ms-background-position-x: center;
	-ms-background-position-y: bottom;
	background-position: center bottom;
	/* scale bg image proportionately */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	/* ie8 polyfill */
	-ms-behavior: url(backgroundsize.min.htc);
	/* prevent scaling past src width (or not) */
	/* max-width: 1200px; */ 
}
.blog_header_wrap .blog_overlay, .blog_header_wrap .no_hero_overlay {
	overflow: hidden;
	height: 100%;
	position: relative;
	z-index: 10;
}
.blog_header_content {
	margin-top: 7rem;
	z-index: 100;
}
.archive .blog_header_content, .search .blog_header_content  {
	margin-top: 9rem;
}
.blog_header_content h4, .blog_header_content h1 {
	text-align: center;
	color: #ffffff;
}
.blog_header_content h4 {
	font-style: italic;
}
.blog a.more-link {
    background-color: #efefef;
    color: #bbb;
    font-size: 0.8rem;
    font-style: italic;
    padding: 0 .5rem;
    float: left;
	  -webkit-border-radius: 3px; 
	  -moz-border-radius: 3px; 
	  border-radius: 3px; 
}

/*--- Sidebar ---*/
.widget-area  {
	background-color: #ffffff;
    border-radius: 4px;
    padding: 0.75rem 0 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
 	 -moz-box-shadow:    0 1px 3px rgba(0, 0, 0, 0.15);
 	 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.widget-area aside {
    padding: 1rem 2rem;
}
.widget-area aside h3 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 1.2rem;
}
.widget-area aside a {
	color: #7e8a94;
}
aside.widget select {
	max-width: 100%;
}
.widget_search .search-submit {
	display: none;
}
.widget_search input {
    background: none repeat scroll 0 0 #f3f3f3;
    border: 1px solid #f3f3f3;
    box-shadow: none;
    color: #7e8a94;
    font-style: italic;
    height: 3.3125rem;
    padding: 0.5rem 0.9rem;
    vertical-align: baseline;
    width: 100%;
}
.widget_search input:focus {
	border-color: #fff;
	-webkit-box-shadow: 0 0 4px #ccc;
	-moz-box-shadow: 0 0 4px #ccc;
	box-shadow: 0 0 4px #ccc;
}
.widget-area aside ul {
	list-style: none;
}
.widget-area aside ul li {
	position: relative;
	left: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.widget-area aside ul li:hover { 
	left: .25rem; 
}
.widget_categories li span, .widget_archive li span {
	float: right;
	background-color: #efefef;
	color: #cccccc;
	padding: 0 .5rem;
	font-size: 13px;
}
.widget-area aside.widget_categories ul li:hover span, .widget_archive li:hover span { 
	color: #ffffff;
}
aside.widget_tag_cloud a {
    border-radius: 3px;
    color: #ffffff;
    float: left;
    font-size: 14px !important;
    margin: 0 0.25rem 0.25rem 0;
    padding: 0.25rem 0.5rem;
}
aside.widget_tag_cloud a:hover {
    background-color: #ffffff;
}

.widget-area .rescue_about_wrap ul li i.fa {
    font-size: 1.5em;
    color: #e2e2e2;
}
.widget-area aside.widget_rescue_about_plugin ul li:hover {
	left: 0;
}
.widget-area aside.widget_rescue_about_plugin .rescue_about_content img {
	width: 65px;
	height: 65px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
}
.widget-area aside.widget_rescue_about_plugin .rescue_about_content span.rescue_text {
	font-size: 1em;
	line-height: 28px;
}
.widget-area aside.widget_rescue_about_plugin .rescue_about_wrap ul li {
    padding: 0 0.05em;
}
.widget-area aside.widget_rescue_about_plugin .rescue_about_wrap ul {
	text-align: left;
}
.widget-area aside.widget_recent_entries li {
	font-size: .9em;
	padding-bottom: 1em;
}
.widget-area aside.widget_recent_entries li span {
    color: #cccccc;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
}
.widget-area aside.widget_calendar {
    padding: 0 1em;
}
.widget-area aside.widget_calendar h3.widget-title {
    padding: 0 1em;
}
.widget-area aside.widget_calendar table caption {
    margin-bottom: 1em;
    color: #7e8a94;
    font-weight: 400;
    font-size: .9em;
}
.widget-area .widget_rss li {
	margin-bottom: 3em;
}
.widget-area .widget_rss li a.rsswidget {
	font-weight: 600;
	margin-bottom: 1em;
	display: block;
}
.widget-area .widget_rss li:hover { 
	left: 0; 
}
.widget-area .widget_rss li span.rss-date {
	font-size: .8em;
	margin-bottom: 1em;
	display: block;
}
.widget-area .widget_rss li div.rssSummary {
	margin-bottom: 1em;
}


/*--- Asides ---*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*----------------------------------------------------*/
/*	8. Comments
/*----------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}
/*--- Comments ---*/
#comments .pingback {
	background-color: #efefef;
    padding: 1em 2em;
}
#comments {
	margin-top: 60px;
}
#comments h2.comments-title {
	font-size: 24px;
	color: #34495e;
	font-weight: 600;
}
#comments ol {
	margin: 60px 0 0 0;
}
#comments li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
}
#comments li {
	margin: 0 0 3rem 0;
}
#comments .children {
	margin: 40px 0 0 0;
	padding: 0 0 0 80px;
}#comments .children li:last-child {
	margin: 0;
}
#comments .left {
	width: 70px;
	float:left;
}
#comments p {
	margin: 0;
}
#comments .right-comments {
	padding: 0 0 0 20px;
	overflow: hidden;
	min-height: 62px;
}
#comments .comment_content {
	border-left: 1px solid #f0f0f0;
	padding-left: 10px;
}
#comments .bypostauthor .right-comments {
	border-left-color: #ccc;
}
#comments .comment-text {
	font-size: 12px;
}
.comment-reply-link {
	color: #34495e;
	font-size: 10px;
	padding: 0 0 0 5px;
}
#comments .rescue_staff {
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    margin-right: 10px;
    padding: 0 10px;
    text-transform: uppercase;
}
#comments cite {
	font-size: 14px;
	padding: 0 5px 0 0;	
	font-style: normal;
	color: #34495e;
	font-weight: 500;
}
#comments cite a {
	font-size: 14px;
	padding: 0 5px 0 0;	
	font-style: normal;
	color: #34495e;
	font-weight: 600;
}
#comments .commentmetadata {
	font-style:italic;
	color: #656565;
	font-size: 12px;
}
#comments .right-comments p {
	padding: 0 0 10px 0;
}
#comments .right-comments p:last-child {
	padding: 0 0 0 0;
}
#comments {
	margin-top: 5rem;
}
#comments .navigation {
	padding: 0 0 20px 0;
}
#comments-title {
	padding: 0 0 40px 0;
}
#respond span.required {
	display: none;
}
#respond input[type="text"], 
#respond input[type="password"], 
#respond input[type="email"] {
	width: 100%;
}
#respond textarea {
	float: left;
	width: 100%;
	min-height: 100px;
	margin: 30px 0; 
}
#respond #submit {
	margin: 0;
}
.comment-respond {
	margin-top: 60px;
}
.comment-respond h3 {
    color: #34495E;
    font-size: 20px;
    font-weight: 600;
}
#commentform label, #commentform span.required {
    color: #333333;
    font-weight: bold;
}
#commentform input, #commentform textarea {
    background: #FFFFFF;
    border: 1px solid #BFC2C4;
    color: #AEAEAE;
    font-size: 16px;
    padding: .75em;
    border-radius: 0px 0px;
    width: 100%;
    height: 100%;
}
#commentform input {
    float: left;
    margin: 0.5em 0 1.5em;
}
#commentform p {
    margin-bottom: 27px;
}
#commentform span.required {
    color: #FF4629;
}
#commentform label, #commentform span.required {
    color: #333333;
    font-weight: bold;
    width: 100px;
    display: inline;
}
#commentform .comment-form-comment label {
	display:none;
}
#commentform p.form-submit {
	margin-bottom: 60px;
}
#commentform #submit {
    border: 1px solid #BDBFC0;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #666666;
    cursor: pointer;
    float: none;
    font-size: 14px;
    margin: 0;
    padding: 7px 9px;
}
#commentform #submit:hover {
	color: #333333;
	border: 1px solid #999999;
}
#commentform #submit:active {
	margin-top: 1px;
}
#commentform .form-allowed-tags {
	display: none;
}
.comments-area .avatar {
	margin-left: 0px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
}

/*--- Infinite scroll ---*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*----------------------------------------------------*/
/*	9. WordPress Defaults
/*----------------------------------------------------*/
/*--- Media ---*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--- Captions ---*/
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--- Galleries ---*/
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-caption {}

/*----------------------------------------------------*/
/*	10. Events Calendar
/*----------------------------------------------------*/

#tribe-events-pg-template {
	max-width: none;
}
#tribe-bar-form {
	background-color: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.events-list .tribe-events-loop, .tribe-events-day .tribe-events-loop, .single-tribe_venue .tribe-events-loop, .single-tribe_organizer .tribe-events-loop {
	max-width: 1100px;
}
.events-archive header.entry-header, .events-archive footer.entry-meta, .single-tribe_events header.entry-header, .single-tribe_events footer.entry-meta, .single-tribe_venue header.entry-header, .single-tribe_venue footer.entry-meta, .single-tribe_organizer header.entry-header, .single-tribe_organizer footer.entry-meta {
	display: inherit;
}
.tribe-bar-filters {
	margin-top: .5rem!important;
}
.tribe-bar-views-inner {
	background-color: #ffffff;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	background-color: #f1f3f3;
}
#tribe-bar-form .tribe-bar-views-inner label {
	width: 5rem;
}
#tribe-bar-form .tribe-bar-submit input[type="submit"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#tribe-bar-form input[type="text"] {
	font-weight: normal;
}
#tribe-events-content .vevent .summary {
	font-weight: normal;
}
#tribe-events-content header.entry-header h1, #tribe-events-content header.entry-header h2 {
    color: #556a7d;
    font-size: 1.75rem;
    font-weight: 200;
    margin-left: -5%;
}
#tribe-events-content h2.tribe-events-page-title {
	font-weight: 600;
    margin: 2rem 0;
}
#tribe-events-content .entry-meta {
	font-size: 1em;
}
#tribe-events-content .event-is-recurring span.tribe-events-divider { 
	display: none;
}
#tribe-events-content .tribe-events-event-meta .event-is-recurring {
	left: 1em;
}
.events-archive .entry-content, .events-archive .entry-header {
	width: 100%;
}
.tribe-events-user-recurrence-toggle label {
	color: #aaaaaa;
}
.tribe-events-user-recurrence-toggle input {
	margin-right: .5rem;
}
.tribe-events-list-separator-month {
    font-size: 22px;
    font-weight: 600;
}
.tribe-events-list-separator-month span {
	background-color: #f1f3f3;
}
#tribe-events-content .entry-content {
	margin: 0 0 3rem;
}
.tribe-events-list .tribe-events-event-cost {
	float: left;
	margin: 0;
}
#tribe-events-content button {
	padding: 0.5rem 1rem;
	float:left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.tribe-events-loop .tribe-events-event-meta, .vevent abbr {
	font-weight: 500;
}
.event-is-recurring {
	color: rgba(0, 0, 0, 0.4);
}
.tribe-events-list .tribe-events-venue-details, .tribe-events-event-meta address.tribe-events-address {
	font-style: normal;
}
.tribe-events-list .tribe-events-loop .tribe-events-content {
	text-align: center;
}
#tribe-bar-views .tribe-bar-views-list {
	z-index: 20;
}
.single-tribe_events #tribe-events-footer, .tribe-events-day #tribe-events-footer, .events-list #tribe-events-footer, .tribe-events-map #tribe-events-footer, .tribe-events-photo #tribe-events-footer {
	padding: 4em 2em 0;
}
.single-tribe_events article {
	margin-top: 3rem;
}

/* Events Search Bar */
#tribe-bar-form input[type="text"] {
	border-style: solid;
	font-weight: normal;
	font-size: 13px;
	font-style: italic;
	text-transform: lowercase;
	margin-top: 10px;
}
#tribe-bar-form #tribe-bar-views {
	left: 0;
	width: 96.5%;
	margin-left: 1em;
	padding: 0 0;
	border-bottom: 1px solid #e6e6e6;

}
#tribe-bar-form #tribe-bar-views + .tribe-bar-filters {
	right: 0;
	width: 100%;
}
#tribe-bar-form .tribe-bar-views-inner label {
	float: left;
}
#tribe-bar-views li.tribe-bar-views-option {
	display: inline-block;
	float:left;
}
#tribe-bar-views ul.tribe-bar-views-list {
	position: inherit;

}
#tribe-bar-form .tribe-bar-views-inner label {
	padding: 0 0;
	position: relative;
	top: .38em;
	font-size: .9em;
}
.tribe-bar-views-inner {
	padding: 1em 0;
}
.tribe-bar-views-inner .large-1 {
	width: 9%;
	padding-right: 0em;
	padding-left: 0em;
}
.tribe-bar-views-inner .large-11 {
	width: 91%;
	padding-left: 0em;
}
#tribe-bar-form #tribe-bar-views + .tribe-bar-filters, .tribe-bar-views-inner, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	background: #ffffff!important;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option span {
	font-size: .975em;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option span.tribe-icon-upcoming, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option span.tribe-icon-month {
	background-image: none;
	background-size: 0 0;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option span.tribe-icon-upcoming:before, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option span.tribe-icon-month:before {
	font-family: FontAwesome;
    color: #3C5166;
    padding-right: 5px;	
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option span.tribe-icon-upcoming:before {
    content: "\f0ca";
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option span.tribe-icon-month:before {
    content: "\f073";
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option span.tribe-icon-upcoming:hover, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option span.tribe-icon-month:hover {
    color: #0194c9;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	padding: 6px 6px;
}
#tribe-bar-views .tribe-bar-views-list {
	margin-left: 0;
}
.tribe-bar-filters-inner input[type="text"] {
    border: 1px solid #BDBFC0!important;
    border-radius: 3px!important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)!important;
    color: #666666!important;
    cursor: pointer!important;
    float: none!important;
    font-size: 14px!important;
    padding: 7px 9px!important;
}
.tribe-bar-filters-inner label {
	font-size: 0.9em!important;
}
.tribe-bar-date-filter {
	width: 35%;
}
#tribe-bar-form #tribe-bar-views + .tribe-bar-filters, .tribe-bar-views-inner {
    color: #666666;
}
.tribe-bar-submit {
	width: 30%;
	margin-left: 0%;
	margin-top: 1.4em;
}
.vevent.tribe-events-photo-event .tribe-events-photo-event-wrap {
	background-color: #ffffff;
}

/*----------------------------------------------------*/
/*	11. Donation Form
/*----------------------------------------------------*/

.dgx-donate-form-section .aftertext {
	margin-left: 0;
}
#dgx-donate-repeating, #dgx-donate-tribute, #dgx-donate-employer, .dgx-donate-form-section input {
	margin: -.2em .5em 0 0;
}
#dgx-donate-container {
	margin: 0 0 ;
}
#dgx-donate-other-input {
	width: 25%;
	margin-top: 1em;
}
#dgx-donate-form input[type="text"] {
    border: 1px solid #BDBFC0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #666666;
    cursor: pointer;
    float: none;
    font-size: 14px;
    padding: 7px 9px;
}
input.dgx_donate_zip_input, input[name="_dgx_donate_donor_city"] {
	width: 25%;
}
#dgx-donate-form  h2 {
	font-size: 1.8em;
}
#dgx-donate-form select {
	height: 2.6em;
    border: 1px solid #BDBFC0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #666666;
    cursor: pointer;
    float: none;
    padding: 7px 9px;
}
input.dgx-donate-pay-enabled {
	height: 0;
	width: 0;
	margin-top:10px;
	padding: 28px 125px!important;
	background: #ffffff url("../img/paypal_button.png") no-repeat;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

input.dgx-donate-pay-enabled:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
img.dgx-donate-pay-disabled {
	height: 0;
	width: 0;
	padding: 28px 125px!important;
	background: #ffffff url("../img/paypal_button.png") no-repeat;
}
#dgx-donate-container {
	padding-bottom: 5px;
}

/*----------------------------------------------------*/
/*	12. Footer
/*----------------------------------------------------*/

footer.site-footer {
	background-color: #3b4047;
	padding-top: 0em;
    position:fixed;
    z-index:10000;
    left:0px; right:0px; bottom:0px;
}
footer.site-footer aside {
	font-size: 12px;
	line-height: 2.1;
	color: #ffffff;
}
footer.site-footer aside a {
	font-size: 12px;
	color: #ffffff;
}
footer.site-footer h3.widget-title {
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 2em;
}
footer.site-footer h3.widget-title a {
	color: #ffffff;
}
footer.site-footer ul {
	list-style: none;
	margin-left: 0;
}
footer .rescue_about_wrap ul {
	text-align: left;
}

footer .copyright_wrap {
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*left: 0;*/
	background-color: #31363c;
}
footer .copyright_wrap .site-info {
	color: #909395;
	font-size: 12px;
	padding: 1.5em 0;
    text-align: center;
}
footer .copyright_wrap .site-info a{
    color: #7fb397;
}
footer .copyright_wrap .site-info a:hover{
    color: #bf2a13;
}

/*----------------------------------------------------*/
/*	13. WooCommerce 
/*----------------------------------------------------*/

.cart_search .cart ul.f-dropdown.content {
	max-width: 200px;
	padding: 1.25rem 2rem 0rem 0rem;
	border:none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.cart_search .cart .f-dropdown li {
	clear: both;
	width: 100%;
}
.cart_search .cart .f-dropdown li:hover {
	background-color: #ffffff;
}
li.cart a.cart_count .cart-contents {
    background-color: #ffffff;
    color: #999;
    font-size: 10px;
    font-weight: 600;
    padding: 0.15em 0.7em;
    display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
li.cart a.cart_count span.total_cost {
	display: none;
}
.header_shop_button {
    background-color: #79b694;
    border-color: #559d75;
    border-style: solid;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    padding: 1rem 2rem 1.0625rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 300ms ease-out 0s;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.cart_search .cart .f-dropdown li .header_shop_button {
	text-transform: uppercase;
	font-size: 12px;
	width: 100%;
}
.cart_search .cart .f-dropdown li a.view_cart_button {
    border: 2px solid #cccccc;
    color: #333;
    background-color: #ffffff;
}
.cart_search .cart .f-dropdown li a.view_cart_button:hover, .cart_search .cart .f-dropdown li a.checkout_button:hover  {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}
.cart_search .cart .f-dropdown li a.checkout_button {
	color: #ffffff;
}
.cart_search .cart .f-dropdown li a.checkout_button:hover {
	background-color: #666666;
}
.woocommerce span.onsale, .woocommerce-page span.onsale {
	padding: 4px 6px;
	box-shadow: none;
	
}

/* Woocommerce Home */
.home_shop_wrap .row {
    margin-bottom: 4em;
    margin-top: 4em;
}
.home_shop_wrap a.button {
	background-color: #f1f3f3;
}
.home_shop_wrap h2 {
	margin-bottom: 4rem;
}
.home .woocommerce ul.products li.product a img {
    box-shadow: none;
}
.home .woocommerce ul.products li.product {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}
.home .woocommerce ul.products li.product:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.home .woocommerce ul.products li.product h3 {
	background-color: #565a5f;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}
.home .woocommerce ul.products li.product .price {
	text-align: center;
	background-color: #565a5f;
	margin-bottom: 0;
	margin-top: 0;
	color: #ffffff;
	font-size: 16px;
	padding-bottom: .75em;
}
.home .woocommerce ul.products li.product .price del {
    color: #ccc;
    font-size: 0.8em;
}
.home .woocommerce ul.products li.product .button, .home .woocommerce ul.products li.product .star-rating {
	display: none;
}

/* Woocommerce Shop Page */
.woocommerce-page h1 {
    padding: 2rem;
    text-align: center;
    margin-bottom: 1em;
    color: #556a7d;
    font-size: 1.75rem;
}
.woocommerce-page .woocommerce-result-count {
	padding-left: 2rem;
	font-size: 14px;
}
.woocommerce-page .woocommerce-ordering {
	padding-right: 2rem;
}
.woocommerce-page ul.products {
	padding: 2rem;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	margin-bottom: 4.992em;
	min-height: 5em;
}
.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button {
    color: #333;
    background: none repeat scroll 0 0 #ffffff;
    border: 2px solid #cccccc;
    border-radius: 3px;
    box-shadow: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    width: 100%;
    padding: 11px 17px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.1s ease 0s;
}
.woocommerce a.button:hover, .woocommerce-page a.button:hover, .woocommerce button.button:hover, .woocommerce-page button.button:hover, .woocommerce input.button:hover, .woocommerce-page input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce-page #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page #content input.button:hover {
    background: none repeat scroll 0 0 #ffffff;
    box-shadow: none;
}

.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 0 0;
    transition: all 0.2s ease 0s;
}
.woocommerce ul.products li.product a img:hover, .woocommerce-page ul.products li.product a img:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.woocommerce ul.products li.product h3 {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
.woocommerce .products .star-rating, .woocommerce-page .products .star-rating {
	font-size: .75em;
	margin: 1em 0 0;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
	margin: 1em 0 0 0;
	text-align: center;
	padding-bottom: .7em;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price, .woocommerce-page ul.products li.product .price del {
	color: #565a5f;
}
.post-type-archive ul.products a.button {
	margin-top: 1em;
}
.woocommerce ul.products li.product:hover a.button, .woocommerce-page ul.products li.product:hover a.button{
	color: #ffffff;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
}
.woocommerce #content nav.woocommerce-pagination, .woocommerce nav.woocommerce-pagination, .woocommerce-page #content nav.woocommerce-pagination, .woocommerce-page nav.woocommerce-pagination {
	margin-bottom: 2em;
}
.woocommerce span.onsale, .woocommerce-page span.onsale {
  background: none repeat scroll 0 0;
  font-weight: 600;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 600;
    padding: 0.15em 0.7em;
    line-height: 20px;
    min-height: 25px;
	min-width: 25px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 30.5%;
}
.woocommerce .products li{
	float: left;
	padding: 0px;
	position: relative;
}
.post-type-archive-product .products li:hover .caption{
	opacity: 1;
}
.post-type-archive-product .products img{
	margin: 0px;
	padding: 0px;
	float: left;
	z-index: 4;
}
.post-type-archive-product .products .caption{
	cursor: pointer;
	position: absolute;
	opacity: 0;
	width: 100%;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
}
.post-type-archive-product .products .archive_product_wrap{
	overflow: hidden;
	margin-top: 50%;
	background-color: #ffffff;
	 opacity: 0.8;
}
.post-type-archive-product .products .star-rating, .post-type-archive-product .products .star-rating {
	float:none;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
/*-- Woocommerce Sorting --*/
form.woocommerce-ordering select {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #777777;
    height: 2.25em;
    padding: 0.2em 0 0 1em;
    text-transform: uppercase;
    width: 18em;
}
/*-- Woocommerce Widgets --*/
/*-- Cart --*/
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-page ul.cart_list li a, .woocommerce-page ul.product_list_widget li a {
	font-weight: 500;
}
.woocommerce ul.cart_list li dl.variation {
	border-left: none;
}
.woocommerce ul.cart_list li dl.variation dt, .woocommerce ul.cart_list li dl.variation dd p {
	font-size: .75em;
}
.widget_shopping_cart .widget_shopping_cart_content li {
	padding-bottom: 1em;
}
.woocommerce ul.product_list_widget li {
	padding: 4px 0 1em 0;
	font-size: 15px;
}
.widget_shopping_cart span.quantity {
	font-size: 13px;
}
.woocommerce .widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total, .woocommerce-page.widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
    border-top: 2px solid #efefef;
    padding: 1em 0 .5em 0;
    font-size: 15px;
}
.widget_shopping_cart_content p.total strong {
	font-weight: 500;
}
.widget_shopping_cart p.buttons a.wc-forward {
	margin-bottom: 1em;
}
.wc-forward a:after, .wc-forward:after {
	content: "\f105";
    font-family: FontAwesome;
    font-size: 1em;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    margin-left: 7px;
    text-transform: none;
}
/*-- Price Filter --*/
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
    border: 0 none;
    border-radius: 3em;
    box-shadow: none;
    display: block;
    font-size: 0.7em;
    position: absolute;
    z-index: 1;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    border-radius: 1em;
    box-shadow: none;
    cursor: pointer;
    height: 0.9em;
    outline: 0 none;
    position: absolute;
    top: -0.3em;
    width: 0.9em;
    z-index: 2;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -0.7em;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: #cccccc;
    border-radius: 1em;
}
.woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button {
	font-size: 1em;
}
.woocommerce .widget_price_filter .price_slider_amount, .woocommerce-page .widget_price_filter .price_slider_amount {
	text-align: left;
	line-height: 3.75em;
}
/*-- Filter by --*/
.widget_layered_nav ul li small.count {
    background-color: #efefef;
    color: #cccccc!important;
    font-size: 13px!important;
    padding: 0 0.5rem!important;
    border-radius: 3px;
}
.widget_layered_nav ul li:hover small.count {
	color: #ffffff!important;
}
/*-- Product Search --*/
.widget_product_search input {
    background: none repeat scroll 0 0 #f3f3f3;
    border: 1px solid #f3f3f3;
    box-shadow: none;
    color: #7e8a94;
    font-style: italic;
    height: 3.3125rem;
    padding: 0.5rem 0.9rem;
    vertical-align: baseline;
    width: 100%;
}
.widget_product_search input#searchsubmit { 
	display: none;
}
.widget_product_search input:focus { 
	border-color: #fff;
	box-shadow: 0 0 4px #ccc;
}
/*-- Woocommerce Single Product --*/
.single-product .images {
	padding: 2em 0 0 2em;
}
.single-product span.onsale {
	top: 2em;
	left: 2em;
}
.single-product .woocommerce-product-rating {
	display: table;
	margin: 0 auto;
}
.single-product .woocommerce-product-rating a.woocommerce-review-link {
	font-size: 14px;
}
.single-product .entry-summary {
	padding-right: 2em;
}
.single-product .entry-summary .price {
	text-align: center;
	margin: 1em 0;
}
.single-product .entry-summary p {
	font-size: 15px;
}
.woocommerce-page div.product form.cart {
	margin: 3em 0;
	margin-bottom: 3em;
}
.woocommerce-page div.product .product_meta {
	border-top: 2px solid #efefef;
	padding-top: 3em;
}
.woocommerce .entry-summary .quantity, .woocommerce table.cart td.product-quantity .quantity {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 108px;
    margin: 0 4em 0 0!important;
}
.woocommerce table.cart td.product-quantity .quantity {
	margin: 0 0!important;
}
.woocommerce .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce #content .quantity .plus, .woocommerce-page #content .quantity .plus, .woocommerce .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page #content .quantity .minus {
    background: none repeat scroll 0 0 #fff;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    line-height: 20px;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: text-top;
    width: 30px;
}
.woocommerce .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page #content .quantity .minus {
    border-radius: 0;
    border-right: 1px solid #ccc;
    bottom: 0;
    left: 0;
    right: auto;
}
.woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page #content .quantity input.qty {
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    float: left;
    font-size: 13px;
    font-weight: 400;
    height: 45px;
    margin: 0 29px;
    padding: 0;
    text-align: center;
    width: 46px;
}
.woocommerce input[type=number]::-webkit-inner-spin-button,
.woocommerce input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.woocommerce .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce #content .quantity .plus, .woocommerce-page #content .quantity .plus {
    border-bottom: 0 none;
    border-left: 1px solid #ccc;
    border-radius: 0;
    right: 0;
    top: 0;
}
.single-product button.single_add_to_cart_button {
    width: 50%;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 20px;
    padding: 11px 17px;
    text-align: center;
    text-shadow: none!important;
    text-transform: uppercase;
    transition: all 0.1s ease 0s;
}
.single-product button.single_add_to_cart_button:hover {
	background-color: #666666!important;
}
.woocommerce-page .quantity .minus:hover, .woocommerce-page .quantity .plus:hover {
    background: none repeat scroll 0 0 #f3f3f3;
}
/*--- Single Product Description & Reviews ---*/
.woocommerce-tabs {
	padding: 0 2em;
}
.woocommerce-tabs .panel {
	background: none repeat scroll 0 0 #ffffff;
	border: none;
}
.woocommerce-tabs .panel p {
	font-size: 15px;
	color: #7e8a94;
}
.woocommerce-tabs #tab-description {
	padding-top: 2em;
}
.woocommerce-tabs #tab-description h2 {
	display: none;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:before  {
	border:none;
	box-shadow: none;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs {
	margin: 0 0 ;
	padding: 0 0;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li {
	padding: 0 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    background: none repeat scroll 0 0 #fff;
    color: #888;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 13px;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: inherit;
    margin-right: 2em;
    transition: all 0s ease 0s;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	color: #333;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
	color: #000;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before {
    box-shadow: none;
}
.woocommerce #reviews #comments h2, .woocommerce-page #reviews #comments h2 {
	font-size: 1.2em;
	margin-bottom: 2em;
}
.woocommerce #reviews #comments {
    margin-top: 2em;
}
.woocommerce #reviews h3, .woocommerce-page #reviews h3 {
	font-size: 1.2em;
	font-weight: 200;
	margin: 1em 0;
}
.woocommerce #reviews p.comment-form-rating label {
	color: #34495e;
	font-size: 13px;
	font-weight: 600;
	font-style: italic;
}
.woocommerce #reviews p.comment-form-rating .stars {
	margin-top: 1em!important;
}
.woocommerce .upsells {
	padding: 0 2em;
}
.woocommerce .upsells h2 {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 2em;
}
.woocommerce .upsells ul.products {
	padding: 0 0;
}
.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
	width: 20%;
}
.woocommerce .upsells ul.products .star-rating, .woocommerce .related ul.products .star-rating, .woocommerce-page .cross-sells .products .star-rating {
	margin: 0 auto;
}
.woocommerce .upsells ul.products .price, .woocommerce .related ul.products .price {
	font-size:1em;
}
.woocommerce .upsells ul.products li {
	margin-bottom: 2em;
}
.woocommerce .related {
	padding: 0 2em;
}
.woocommerce .related ul.products {
	padding: 0 0;
}
.woocommerce .related h2 {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 2em;
}
.woocommerce #content div.product form.cart table, .woocommerce div.product form.cart table, .woocommerce-page #content div.product form.cart table, .woocommerce-page div.product form.cart table {
	border-width: 0 0;
}
.woocommerce-page div.product form.variations_form {
	margin: 3em 0 0 0;
}
.woocommerce-page div.product .single_variation_wrap span.price {
	line-height: 3em;
	font-size: 1.1em;
}
.woocommerce .single_variation_wrap {
	margin-bottom: 1em;
}
.woocommerce .single_variation_wrap:before, .woocommerce .single_variation_wrap:after {
    content: " ";
    display: table;
}
.woocommerce .single_variation_wrap:after {
    clear: both;
}
.woocommerce .single_variation_wrap:before, .woocommerce .single_variation_wrap:after {
    content: " ";
    display: table;
}

.woocommerce .variations td.label {
	margin-right: 1em;
	background-color: #ffffff;
	padding-top: 1.25em;
}
.woocommerce .variations select {
    background-color: transparent;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    box-shadow: none;
    color: #777777;
    font-size: 12px;
    font-weight: 500;
    height: 2.75em;
    padding: 0.5em 0 0 1em;
    text-transform: uppercase;
    width: 18em;
}
.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before,  {
	display: none;
}
.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message {
	border-top: none;
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-message {
    box-shadow: none;
    color: #ffffff;
    padding: 2em 1em 1em 3.5em !important;
    text-shadow: none;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

}
.woocommerce-page .woocommerce-message a.button, .woocommerce-checkout .woocommerce-info a.showlogin, .woocommerce-checkout .woocommerce-info a.showcoupon {
	width: 25%;
    box-shadow: none;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    padding: 11px 17px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    top: -0.75em;
   	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    transition: all 0.1s ease 0s;
}
.woocommerce-checkout .woocommerce-info a.showlogin, .woocommerce-checkout .woocommerce-info a.showcoupon {
	padding: 8px 0;
	background: none repeat scroll 0 0 #ffffff;
	float:right;
	border: 2px solid #ffffff;
}
.woocommerce-page .woocommerce-message a.button:hover, .woocommerce-checkout .woocommerce-info a.showlogin:hover, .woocommerce-checkout .woocommerce-info a.showcoupon:hover {
	color: #ffffff;
	border: 2px solid #ffffff;
}

/*-- Woocommerce cart --*/
.woocommerce-cart .content_row .content-area header{
	padding: 2em 0 0;
}
.woocommerce-cart  .entry-header h1 {
	padding: 0;
	margin-bottom: 0;
}
.woocommerce-cart  .entry-meta {
	display: none;
}
.woocommerce-cart table thead, .woocommerce-cart table tr.even, .woocommerce-cart table tr.alt, .woocommerce-cart table tr:nth-of-type(2n)  {
	background: #ffffff;
}
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
	border-top: 1px dashed #e3e3e3;
}
.woocommerce table.cart a.remove, .woocommerce-page table.cart a.remove, .woocommerce #content table.cart a.remove, .woocommerce-page #content table.cart a.remove {
	color: #555555;
}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
	padding: 1.25em 12px;
	font-weight: 500;
	color: #999999;
	text-transform: uppercase;
}
.woocommerce .entry-summary .quantity {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 108px;
    margin: 0 4em 2em 0 !important;
}
.woocommerce table.cart td.product-name a {
	font-size: 1.2em;
}
.woocommerce table.cart td.product-remove {
	width: 4%;
}
.woocommerce table.cart td.product-thumbnail {
	width: 8%;
}
.woocommerce table.cart td.product-price, .woocommerce table.cart td.product-quantity {
	width: 10%;
}
.woocommerce table.cart td.product-subtotal {
	width: 20%;
}
.woocommerce table.cart td.product-subtotal, .woocommerce table.cart th.product-subtotal {
	text-align: right;
}
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
	padding: 1em 12px;
}
.woocommerce table.shop_table, .woocommerce-page table.shop_table dl.variation dt, .woocommerce table.shop_table, .woocommerce-page table.shop_table dl.variation dd p {
	font-size: .7em;
}
.woocommerce table.shop_table, .woocommerce-page table.shop_table {
	border-left: none;
	border-right: none;
	border-radius: 0;
}
.woocommerce table.cart tr.cart_item td.product-name dl.variation, .woocommerce table.cart tr.cart_item td.product-name dl.variation dd p {
	font-size: 1em;
	font-weight: 500;
	color: #999999;
}
.woocommerce #content table.cart img, .woocommerce table.cart img, .woocommerce-page #content table.cart img, .woocommerce-page table.cart img {
	width: 75px;
}
.woocommerce #coupon_code, .woocommerce-page #coupon_code {
    display: inline-block;
    width: auto;
}
.woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text {
    background: none repeat scroll 0 0 #ffffff;
    border: 2px solid #cccccc;
    border-radius: 3px;
    box-shadow: none;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    padding: 11px 17px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.1s ease 0s;
}
.woocommerce .cart tr td.actions {
	padding: 3em 0;
}
.woocommerce .cart .coupon .button {
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
    padding: .95em 1.25em;
    text-transform: uppercase;
    width: inherit;
    transition: background-color 300ms ease-out 0s;
}
.woocommerce .cart .coupon .button:hover {
	background-color: #666666;
    border: 1px solid #666666;
}
.woocommerce .cart .actions .button {
    width: inherit;
}
.woocommerce #content input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover {
	text-shadow: none;
	font-weight: 300;
	background: none repeat scroll 0 0 #666666;
    border: 1px solid #666666;
}
.woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt {
	text-shadow: none;
	font-weight: 300;
}
.cart_totals h2 {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 1em;
}
.woocommerce .cart-collaterals .cart_totals table, .woocommerce-page .cart-collaterals .cart_totals table {
	border: none;
}
.woocommerce .cart-collaterals .cart_totals table tr td, .woocommerce .cart-collaterals .cart_totals table tr th, .woocommerce-page .cart-collaterals .cart_totals table tr td, .woocommerce-page .cart-collaterals .cart_totals table tr th {
	padding: 1em 0;
}
.woocommerce .cart-collaterals .cart_totals table tr td, .woocommerce-page .cart-collaterals .cart_totals table tr td {
	text-align: right;
}
.woocommerce .cart-collaterals .cart_totals table tr th, .woocommerce-page .cart-collaterals .cart_totals table tr th {
    color: #999999;
    font-weight: 500;
    text-transform: uppercase;
}
.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:before, .woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:before {
    content: "\f107";
    font-family: FontAwesome;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    margin-right: 7px;
    text-transform: none;
}
.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:before, .woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:before {
    content: "\f107";
    font-family: FontAwesome;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    margin-right: 7px;
    text-transform: none;
}
.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:after, .woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:after, .woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:after, .woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
    content: "";
    font-family: inherit;
}
.woocommerce .cart-collaterals form.shipping_calculator {
	padding: 1em 2em;
	background-color: #efefef;
   	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.woocommerce .cart-collaterals form.shipping_calculator h2 {
	font-size: .9em;
}
.woocommerce .cart-collaterals form.shipping_calculator h2 a {
	color: #666666;
}
.woocommerce .cart-collaterals form.shipping_calculator section.shipping-calculator-form {
	margin-top: 2em;
}
.woocommerce .cart-collaterals form.shipping_calculator section.shipping-calculator-form select, .woocommerce .cart-collaterals form.shipping_calculator section.shipping-calculator-form input {
    background: none repeat scroll 0 0 #ffffff;
    border: 2px solid #cccccc;
    border-radius: 3px;
    box-shadow: none;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    height: 3.75em;
    padding: 11px 17px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.1s ease 0s;
}
.woocommerce .cart-collaterals .cross-sells h2 {
    font-size: 1.1em;
    font-weight: 600;
    margin: 1em 0 0 0;
}
.woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before, .woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-error:before, .woocommerce-page .woocommerce-info:before, .woocommerce-page .woocommerce-message:before, .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before {
	display:none;
}
.woocommerce-cart .woocommerce .woocommerce-info, .woocommerce-cart .woocommerce .woocommerce-message, .woocommerce-cart .woocommerce .woocommerce-error, .woocommerce-checkout .woocommerce-info, .woocommerce-account .woocommerce-error, .woocommerce-account .woocommerce-message, .woocommerce-account .woocommerce-info {
	padding: 1em 3em!important;
   	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.woocommerce-checkout .woocommerce .woocommerce-info {
	color: #333333;
	font-size: 1em;
    background: none repeat scroll 0 0 #efefef;
    border: 1px solid #efefef;
    line-height: 2em;
}
.woocommerce-checkout .entry-meta {
	display: none;
}
.woocommerce-checkout .entry-header h1 {
    margin-bottom: 0;
    padding: 0;
}
.woocommerce-checkout .content_row .content-area header {
    padding: 2em 0 0;
}

/*-- Woocommerce Checkout --*/
.woocommerce-checkout .woocommerce-billing-fields h3, .woocommerce-checkout h3#order_review_heading {
    font-size: 24px;
    font-weight: 400;
    padding: 1em 0;
}
.woocommerce-checkout #customer_details .col-1 {
    float: left;
    width: 58%;
}
.woocommerce-checkout #customer_details .col-2 { 
    float: right;
    width: 38%;
}
.woocommerce-checkout #customer_details #order_review table tr th, .woocommerce-checkout #customer_details #order_review table tr td {
	color: #777777;
}
.woocommerce-checkout #customer_details #order_review table thead, .woocommerce-checkout #customer_details #order_review table tr {
	background: #f9f9f9;
}
.woocommerce-checkout #customer_details table.shop_table tfoot td, .woocommerce-checkout #customer_details table.shop_table tfoot th {
	border-top: 1px dashed #e3e3e3;
	font-weight: 500;
}
.woocommerce-checkout #customer_details table.shop_table {
	border-top: none;
	border-bottom: none;
	background: none repeat scroll 0 0 #f9f9f9;
}
.woocommerce-checkout #customer_details #order_review {
	padding: 1em;
	background: #f9f9f9;
   	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.woocommerce-checkout #customer_details table.shop_table tr.cart_item td.product-name strong {
	font-weight: normal;
}
.woocommerce-checkout #customer_details table.shop_table tr.order-total th {
	font-weight: 600;
}
.woocommerce #payment div.payment_box, .woocommerce-page #payment div.payment_box {
  	background: none repeat scroll 0 0 #c3c3c3;
 	border: 1px solid #c3c3c3;
    box-shadow: none;
    color: #ffffff;
    font-size: 0.92em;
    line-height: 1.5em;
    margin: 1em 0;
    padding: 1em 2%;
    position: relative;
    text-shadow: none;
    width: 96%;
}
.woocommerce #payment div.payment_box, .woocommerce-page #payment div.payment_box p {
    font-size: 0.99em;
    padding: 1em;
   	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.woocommerce #payment div.payment_box:after, .woocommerce-page #payment div.payment_box:after {
    top: 0px;
    border-color: transparent transparent #c3c3c3;
}
.woocommerce #place_order, .woocommerce-page #place_order {
    background: none repeat scroll 0 0 #888888;
    border: 1px solid #888888;
}
.woocommerce-checkout .login .form-row input.button {
	width: 25%;
	padding: 1em 0;
}
.woocommerce-checkout .login .form-row label.inline {
	display: block;
}
.woocommerce-checkout .login p.lost_password a {
	font-size: .85em;
}
.woocommerce-checkout .woocommerce #place_order {
	font-weight: 600;
}

/*-- Woocommerce Account --*/
.woocommerce-account .content_row .content-area header{
	padding: 2em 0 0;
}
.woocommerce-account .content_row .content-area h1 {
    margin-bottom: 0;
    padding: 0;
}
.woocommerce-account .content_row .content-area .entry-meta{
	display: none;
}
.woocommerce-account .entry-content {
    margin: 1em 0;
}
.woocommerce-account .entry-content h2 {
    font-size: 1.3em;
    font-weight: 600;
}
.woocommerce-account .entry-content form.login input.button, .woocommerce-account .entry-content form.register input.button {
	width: 25%;
	margin-top: 1em;
}
.woocommerce-account .entry-content form.login label.inline {
	display: block;
}
.woocommerce-account .entry-content p.lost_password a {
	font-size: .85em;
}
.woocommerce-account form.register {
	min-height: 23.5em;
}
.woocommerce-account p.myaccount_user a {
	font-weight: 600;
}
.woocommerce-account p.myaccount_user a:hover {
	color: #666666;
}
.woocommerce-account .addresses .title .edit, .woocommerce-page .addresses .title .edit {
	color: #ffffff;
	padding: 0.25em 0.7em;
	font-size: .8em;
   	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.woocommerce-account .addresses .title .edit:hover, .woocommerce-page .addresses .title .edit:hover {
	background-color: #666666;
}
.woocommerce-account .addresses address {
	font-style: normal;
	margin-top: 1em;
}
.woocommerce-account p.myaccount_user {
    border-bottom: 1px solid #efefef;
    margin-bottom: 2em;
    padding-bottom: 2em;
}
.woocommerce-account p.myaccount_address {
    border-bottom: 1px solid #efefef;
    margin-bottom: 2em;
    padding-bottom: 2em;
}
.woocommerce-account .woocommerce p input.button {
	width: 25%;
	margin-top: 2em;
}
.woocommerce-account h3 {
    font-size: 1.1em;
    font-weight: 600;
}

/*-- Woocommerce Lightbox --*/
div.pp_woocommerce a.pp_contract, div.pp_woocommerce a.pp_expand, div.pp_woocommerce .pp_close {
    border-color: #ea623d;
    height: 24px;
    line-height: 24px;
    text-shadow: none;
    width: 24px;
    z-index: 9999;
}
div.pp_woocommerce .pp_next:before, div.pp_woocommerce .pp_previous:before {
    text-shadow: none;
}
div.pp_woocommerce .pp_previous:before {
    content: "\f104";
    font-family: FontAwesome;
    left: 1em;
}
div.pp_woocommerce .pp_next:before {
    content: "\f105";
    font-family: FontAwesome;
    right: 1em;
}
div.pp_woocommerce .pp_arrow_next, div.pp_woocommerce .pp_arrow_previous {
    background-color: #444;
    border-radius: 100%;
    color: #fff !important;
    font-size: 16px !important;
    height: 1em;
    line-height: 1em;
    margin-top: -1px;
    position: relative;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out 0s;
    width: 1em;
}

/*-- Contact Form 7 --*/
.wpcf7 input[type="submit"] {
    background-color: #666666;
    border: medium none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: normal !important;
    line-height: normal;
    margin: 0 0 1.25em;
    padding: 0.625em 1.25em 0.6875em;
    width: 20%;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 300ms ease-out 0s;
}
.wpcf7 input[type="submit"]:hover {
    background-color: #15967d;
}

/*----------------------------------------------------*/
/*	14. Media Queries 
/*----------------------------------------------------*/
@media only screen and (max-width: 1156px) {
    .contributor_list_wrap .row {
        margin-top: 0;
    }
}
// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 44em) {
	.top-bar {
	    margin-top: 0px!important;
        height: 50px;
	}
	.top-bar .name {
		margin-left: 1.5em;
	}
	.top-bar-section {
		margin-top: 40px;
	}
    .default_button_class {
		width: 100%;
		text-align: center;
	}
	.top-bar.expanded .toggle-topbar a {
		color: #75b48f;
	}
	.hero_content p{
	    font-size: 1rem;
	    line-height: 28px;
	    margin: 1em 1em;
	}
	.hero_icons div.wow{
		float:left;
	}
	.hero_content .hero_icons  {
		margin-top: 2em;
	}
	.hero_content .hero_icons i  {
		font-size: 34px;
	}
	.hero_content .hero_icons i.fa-lightbulb-o {
		font-size: 38px;
	}
	.hero_content .hero_icons i.fa-plus {
		font-size: 14px;
	}
	.hero_content .hero_icons span.equals {
		font-size: 34px;
	}
	a.hero_more {
		bottom: 0em;
	}
	.bg-image {
		height: 400px;
	}
	.bg-image .hero_content .hero_icons  {
		margin-top: 3em;
	}
	.bg-image a.hero_more {
		bottom: 18em;
	}
	.bg-image .hero_content p{
	    font-size: 1.5rem;
	    line-height: 32px;
	    margin: 2em 0em 1em 0em;
	}
	.tribe-bar-views-inner .large-1 {
		width: 100%;
		margin-bottom: 1rem;
	}
	#tribe-bar-form.tribe-bar-collapse #tribe-bar-views {
		width: 100%;
	}
	#tribe-bar-form #tribe-bar-views {
		margin-left: 0;
	}
	#tribe-bar-form .tribe-bar-views-inner label {
		left: 1rem;
	}
	.tribe-bar-views-inner .large-11 {
		padding-right: 0;
		width: 100%;
	}
	.tribe-bar-collapse #tribe-bar-collapse-toggle {
		width: 100%;
	}
	ul.title-area img {
        height: 50px!important;
        margin-top: 37px!important;
        margin-left: -15px;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		width: 100%;
	}
	.post-type-archive-product .products .caption {
		position: relative;
		opacity: 1;
	}
	.post-type-archive-product .products .archive_product_wrap {
	    overflow: visible;
	}
	.woocommerce .product .images  {
	    padding-right: 2em;
	}
	.single-product .entry-summary {
	    padding-left: 2em;
	}
	.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
		 width: 100%;
	}
	.home .woocommerce-page.columns-3 ul.products li.product, .home .woocommerce.columns-3 ul.products li.product {
		width: 100%;
	}
	ul.bbp-forums li.bbp-body ul li.bbp-forum-topic-count:before, ul.bbp-forums li.bbp-body ul li.bbp-forum-reply-count:before, ul.bbp-topics li.bbp-body ul li.bbp-topic-reply-count:before {
		content: none;
	}
	.bbp-header ul {
		font-size: .7rem;
	}
	.forum_wrap .blog_header_content h1 a {
	    font-size: 1.5rem;
	}
	.mini_nav ul {
		margin: 0 auto;
		display: table;
		float: none;
		margin-bottom: 2em;
	}
	#forum_slider-wrapper {
	    height: 225px;
	}
	[class$="-arrow"] {
		margin-top: 150px;
	}
	.forum_posts_wrap h5 {
		margin-bottom: 2em;
		text-align: center;
	}
	.woocommerce-checkout .woocommerce-info a.showlogin, .woocommerce-checkout .woocommerce-info a.showcoupon {
		clear: both;
		width: 100%;
	}
	.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button {
		font-size: 10px;
	}
	#tribe-events-content a, .tribe-events-event-meta a {
		font-size: 12px;
	}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 44.063em) {

}

@media only screen and (max-width: 600px) {
    #login {
        width: 60%!important;
    }
}

@media only screen and (max-width: 1050px) {
    #left_col {
        float: none!important;
        width: 140%!important;
    }
    #right_col {
        float: none!important;
        width: 140%!important;
    }
    #wrapLogin {
    width: 100%!important;
    margin-left: -20%!important;
    }
    .wp-login-register {
        margin-left: -25%!important;
    }
}

.registerWhy {
    font-size: 0.875rem;
    color: red;
}
@media only screen and (min-width: 44.063em) and (max-width: 64em) {
	.hero_content p{
	    font-size: 2rem;
	    line-height: 48px;
	    margin: 1em 1em;
	}
	.hero_icons div.wow{
		float:left;
	}
	.hero_content .hero_icons  {
		margin-top: 3em;
	}
	.hero_content .hero_icons i  {
		font-size: 54px;
	}
	.hero_content .hero_icons i.fa-lightbulb-o {
		font-size: 58px;
	}
	.hero_content .hero_icons i.fa-plus {
		font-size: 24px;
	}
	.hero_content .hero_icons span.equals {
		font-size: 54px;
	}
	.bg-image {
		height: 600px;
	}
	.fixed ul.title-area img {
		margin-left: 1rem;
	}
	.fixed .top-bar-section {
		margin-right: 1rem;
	}
	#tribe-bar-form.tribe-bar-mini #tribe-bar-views {
		width: 100%;
	}
	.woocommerce .single-product .images {
	    padding: 2em;
	}
	.single-product .entry-summary {
	    padding-left: 2em;
	}
	.home .woocommerce-page.columns-3 ul.products li.product, .home .woocommerce.columns-3 ul.products li.product {
		width: 100%;
	}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { 
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
	.hero_content .hero_icons  {
		margin-top: 5em;
	}
	.hero_content p{
	    margin: 1em 3em 1em 3em;
	}
	.bg-image {
		height: 700px;
	}
} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { 

} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { 
} /* min-width 1921px, xlarge screens */


@media screen and (max-width: 600px) {

/* Force table to not be like tables anymore */
.woocommerce-page table.shop_table,
.woocommerce-page table.shop_table thead,
.woocommerce-page table.shop_table tbody,
.woocommerce-page table.shop_table th,
.woocommerce-page table.shop_table td,
.woocommerce-page table.shop_table tr {
    display: block;
    border-top: none;
}

.woocommerce #content table.cart .product-thumbnail, .woocommerce table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail {
	display: inline-block;
}

/* Hide table headers (but not display: none;, for accessibility) */
.woocommerce-page table.shop_table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
	border-top: none;
}
.woocommerce-page table.shop_table tr.cart_item {
    /* Behave like a "row" */
    border: 1px solid #d2d3d3;
    position: relative;
    padding-left: 30% !important;
    margin-bottom: 2em;
}
.woocommerce-page table.shop_table td.product-spacer {
    border-color: #FFF;
    height: 10px;
}
.woocommerce table.cart td.product-thumbnail {
	width: 100%;
}
.woocommerce-page table.shop_table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 25%;
    padding-right: 10px;
    white-space: nowrap;
}

/*
Label the data
*/
.woocommerce-page table.shop_table td.product-remove:before {
    content: "DELETE";
    margin-top: .85em;
}

.woocommerce-page table.shop_table td.product-thumbnail:before {
    content: "IMAGE";
    margin-top: 5em;
}

.woocommerce-page table.shop_table td.product-name:before {
    content: "PRODUCT";
    margin-top: 11.5em;
}

.woocommerce-page table.shop_table td.product-price:before {
    content: "PRICE";
    margin-top: 14.7em;
}

.woocommerce-page table.shop_table td.product-quantity:before {
    content: "QUANTITY";
    margin-top: 19em;
}

.woocommerce-page table.shop_table td.product-subtotal:before {
    content: "SUBTOTAL";
    margin-top: 23.5em;
}

.woocommerce-page table.shop_table td.product-total:before {
    content: "TOTAL";
}
.woocommerce #content table.cart td.actions .button.alt, .woocommerce #content table.cart td.actions .input-text + .button, .woocommerce table.cart td.actions .button.alt, .woocommerce table.cart td.actions .input-text + .button, .woocommerce-page #content table.cart td.actions .button.alt, .woocommerce-page #content table.cart td.actions .input-text + .button, .woocommerce-page table.cart td.actions .button.alt, .woocommerce-page table.cart td.actions .input-text + .button {
    float: left;
    margin-top: 1em;
    width: 100%;
}
.woocommerce #content table.cart td.actions .button, .woocommerce #content table.cart td.actions .input-text, .woocommerce #content table.cart td.actions input, .woocommerce table.cart td.actions .button, .woocommerce table.cart td.actions .input-text, .woocommerce table.cart td.actions input, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions input, .woocommerce-page table.cart td.actions .button, .woocommerce-page table.cart td.actions .input-text, .woocommerce-page table.cart td.actions input {
	width: 100%;
}
